<h1>基础样式</h1>
<ul>
    <li><a href="{{ site.baseurl }}/ui/typeface.html">文本（typeface）</a></li>
    <li><a href="{{ site.baseurl }}/ui/icon.html">图标（icon）</a></li>
    <li><a href="{{ site.baseurl }}/ui/grid.html">网格（grid）</a></li>
    <li><a href="{{ site.baseurl }}/ui/border.html">边框（border）</a></li>
    <li><a href="{{ site.baseurl }}/ui/layout.html">布局（layout）</a></li>
</ul>
<h1>UI组件</h1>
<ul class="mb20">
    <li><a href="{{ site.baseurl }}/ui/label.html">标签（label）</a></li>
    <li><a href="{{ site.baseurl }}/ui/badge.html">微标（badge）</a></li>
    <li><a href="{{ site.baseurl }}/ui/button.html">按钮（button）</a></li>
    <li><a href="{{ site.baseurl }}/ui/list.html">列表（list）</a></li>
    <li><a href="{{ site.baseurl }}/ui/table.html">表格（table）</a></li>
    <li><a href="{{ site.baseurl }}/ui/form.html">表单（form）</a></li>
</ul>
<div class="text-danger">
    <p>UI库中的CSS是通过SASS编译生成。</p>
    <p>UI库与flexible.js配合使用。</p>
    <p>UI库除了字体、边框宽度等，大部分是使用rem作为单位，可以在gulp中引入插件，自动计算。</p>
</div>
<p>扫描下面的二维码，查看在线demo</p>
<img src="{{ site.baseurl }}/assets/images/ui.png" width="100%"/>