<h1>通用组件</h1>
<ul>
    <li><a href="{{ site.baseurl }}/common/const.html">常量</a></li>
    <li><a href="{{ site.baseurl }}/common/cookie.html">Cookie</a></li>
    <li><a href="{{ site.baseurl }}/common/dom.html">DOM</a></li>
    <li><a href="{{ site.baseurl }}/common/echo.html">图片懒加载</a></li>
    <li><a href="{{ site.baseurl }}/common/is.html">判断方法</a></li>
    <li><a href="{{ site.baseurl }}/common/jsbridge.html">JSBridge</a></li>
    <li><a href="{{ site.baseurl }}/common/selector.html">选择器</a></li>
    <li><a href="{{ site.baseurl }}/common/share.html">分享</a></li>
    <li><a href="{{ site.baseurl }}/common/storage.html">缓存</a></li>
    <li><a href="{{ site.baseurl }}/common/url.html">URL地址</a></li>
    <li><a href="{{ site.baseurl }}/common/util.html">工具</a></li>
</ul>